<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Currently a MS(by Resaerch) student at IIT Kharagpur.
      Currently working on artificial intelligence (in Retail Sector).
      I am also interested in Scalable and Distributed Systems.
      For more information, check out <a href="{{ site.nav.main.notes }}">my posts</a> 
      on which I like to demonstrate the progress I make with my pet projects as well as
      refrence notes.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
